<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!-- 配置连接池： -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	    <property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	<!-- Hibarnate相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入链接抽 -->
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 控制hibernate映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/bookmark/user/vo/User.hbm.xml</value>
				<value>com/bookmark/bookmark/vo/Bookmark.hbm.xml</value>
				<value>com/bookmark/type/vo/Type.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理： -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Action配置 :-->

		
		<!-- 用户模块的action -->
		<bean id="userAction" class="com.bookmark.user.action.UserAction" scope="prototype">
			<!-- 注入service -->
			<property name="userService" ref="userService"/>
		</bean>
		
		<!-- 验证码的action -->
		<bean id="checkImgAction" class="com.bookmark.user.action.CheckImgAction" scope="prototype">
			
		</bean>
		
		<bean id="bookmarkAction" class="com.bookmark.bookmark.action.BookmarkAction" scope="prototype">
			<!-- 注入service -->
			<property name="bookmarkService" ref="bookmarkService"/>
			<property name="typeService" ref="typeService"/>
		</bean>
		
		<bean id="typeAction" class="com.bookmark.type.action.TypeAction" scope="prototype">
			<!-- 注入service -->
			<property name="typeService" ref="typeService"/>
		</bean>


	<!-- Service配置： -->
		<bean id="userService" class="com.bookmark.user.service.UserService">
			<property name="userDao" ref="userDao"></property>
		</bean>
		<bean id="bookmarkService" class="com.bookmark.bookmark.service.BookmarkService">
			<property name="bookmarkDao" ref="bookmarkDao"></property>
		</bean>
		<bean id="typeService" class="com.bookmark.type.service.TypeService">
			<property name="typeDao" ref="typeDao"></property>
		</bean>
		

	
	<!-- Dao的配置 -->
	
		<bean id="userDao" class="com.bookmark.user.dao.UserDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		<bean id="bookmarkDao" class="com.bookmark.bookmark.dao.BookmarkDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>
		<bean id="typeDao" class="com.bookmark.type.dao.TypeDao">
			<property name="sessionFactory" ref="sessionFactory" />
		</bean>





</beans>